@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 900; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Inter';
}

body {
  width: 100%;
  max-width: 2800px;
  margin: 0 auto;
  padding-top: 242px;
  background-color: #121119;
  background-image: url('./assets/images/background.jpg');
  background-size: 2800px;
  background-position: center top;
  background-repeat: no-repeat;
}

@media (min-width: 1280px) {
  body {
    box-shadow:  0 0px 50px 0 rgb(255, 255, 255, 0.1);
  }
}

@media (max-width: 1210px) {
  body {
    padding-top: 152px;
    background-size: 3450px;
  }
}